.navItem {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--dark-blue);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: none;
  padding: 0.25rem;
}
.navItem img {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.navItem:hover {
  filter: brightness(150%);
}